<div class="row g-0 px-2 timer-container w-100">
    <div class="col border-end border-light">
        <div class="fw-bold" style="font-size: 0.9rem;">{{ days }}</div>
        <small class="opacity-50 text-uppercase d-block" style="font-size: 0.5rem;">D</small>
    </div>
    <div class="col border-end border-light">
        <div class="fw-bold" style="font-size: 0.9rem;">{{ hours }}</div>
        <small class="opacity-50 text-uppercase d-block" style="font-size: 0.5rem;">H</small>
    </div>
    <div class="col border-end border-light">
        <div class="fw-bold" style="font-size: 0.9rem;">{{ minutes }}</div>
        <small class="opacity-50 text-uppercase d-block" style="font-size: 0.5rem;">M</small>
    </div>
    <div class="col">
        <div class="fw-bold text-primary" style="font-size: 0.9rem;">{{ seconds }}</div>
        <small class="opacity-50 text-uppercase d-block" style="font-size: 0.5rem;">S</small>
    </div>
</div>
